@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}


.input-field {
  border: 1px solid #F04545;
  background: transparent;
  border-radius: 10px !important;
  padding-block: 10px;
  padding-inline: 5px;
  color: white;
}
.input-field::placeholder{
  color: gray;
}
.nav_contents{
  z-index: 1000;
}


@media(max-width:380px){
  .register{
    height: 118vh !important;
  }
}
@media(max-width:330px){
  .register{
    height: 145vh !important;
  }
  .login_mobile{
    top: 2rem !important;
  }
}
